{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br>
    <form method="POST" action="{% url 'addproduct' %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="container">
            <div class="Largetext"> Image </div>
            <input type="file" name="Image" id="Image"/> 
                {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %} <span {% if m.tag == 'info' %} class="{{ m.info }}" {% endif %}>{{m}} </span> {% endif %}
                {% endfor %}
            <div class="Largetext"> Product Name </div> 
            <input type="text" class="forminput" name="Name" id="Name">

            <div class="Largetext"> Length </div>
            <input type="text" class="forminput" name="Length" id="Length">

            <div class="Largetext"> Manufacturer Name </div>
            <input type="text" class="forminput" name="Manufacturer" id="Manufacturer">

            <div class="Largetext"> Manufacturer Location </div>
            <input type="text" class="forminput" name="Location" id="Location">

            <div class="Largetext"> Color </div>
            <input type="text" class="forminput" name="Color" id="Color"> <br><br>

            <span class="Largetext"> Cost </span> <span class="bodytext" id="costnote"> </span><br><br>
            <input type="text" class="forminput" name="Cost" id="Cost">

            {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %} <span {% if m.tags %} class="{{ m.tags}}" {% endif %}>{{m}} </span> {% endif %}
            {% endfor %}

            <br><br>

            <span class="Largetext"> Stock </span> <span class="bodytext" id="stocknote"> </span> 
            <br><br>
            
            <input type="text" class="forminput" name="Stock" id="Stock"> 
               {% for m in messages %}
                    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %} <p {% if m.tag == 'error' %} class="{{m.tags}}" {% endif %}> {{m}}</p> {% endif %}
                {% endfor %}
            <br><br>

            <div class="Largetext"> Description </div>
            <textarea type="text" class="forminput" name="Description" id="desc" rows="8" placeholder="Type in new Product Description!"> </textarea>
            
            <div class="Largetext"> Measurement </div>
            <input type="text" class="forminput" name="Measurement" id="Measurement" value="{{Prod.Measurement}}">

            <div class="Largetext"> Gross Weight </div>
            <input type="text" class="forminput" name="Weight" id="Weight" value="{{Prod.GrossWeight}}">
        
            <div class="Largetext"> Contact Details </div>
            <input type="text" class="forminput" name="Contact" id="Contact">
            <button class="Button" type="submit"> Add Product </button>
            <a class="Button" href="{% url 'Products' %}"> Back to Products </a
        </div>
    </form>
    

    <style>
        #sticknote{
            margin-left: 20vw;
        }

        #Stock{
            margin-bottom: 3vh;
        }

    </style>

    <script>
        let s = document.getElementById('Stock')
        let snote = document.getElementById('stocknote');
        s.addEventListener('keyup',(e)=>{
            if (Number(s.value) <= 0){
                snote.innerHTML = "Stock cannot be less than 0!";
            }

            else if (!Number.isInteger(Number(s.value)) || s.value.includes(".")){
                snote.innerHTML = "Not an integer!";
            }

            else{
                snote.innerHTML = "";
            }
        })
        
        let c = document.getElementById('Cost');
        let cnote = document.getElementById('costnote');

        c.addEventListener('keyup',(e)=>{

            if (c.value.trim() === ""){
                cnote.innerHTML = "";
            }

            else if (Number(c.value.slice(1)) <= 0){
                cnote.innerHTML = "Stock cannot be less than or equal to 0!";
            }

            else if (isNaN(c.value.slice(1))){
                cnote.innerHTML = "Not an integer/float"
            }

            else if (c.value[0] !== "$" && c.value[0] !== "P"){
                cnote.innerHTML = "Currency is not in Peso or USD";
            }

            else{
                cnote.innerHTML = "";
            }
        })

    </script>
    {% endblock %}
    
</body>
</html>