{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br>
    <form method="POST" action="{% url 'addproduct' %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="container">
            <div class="Largetext" style="font-size: 30px;"> Add a Product </div> 
            <div class="Largetext"> Image </div>
            <input type="file" name="Image" id="Image"/> 
                {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %} <span style="color: red;" {% if m.tag == 'info' %} {% endif %}> {{m}} </span> {% endif %}
                {% endfor %}
            <div class="Largetext"> Product Name </div> 
            <input type="text" class="forminput" name="Name" id="Name">

            <div class="Largetext"> Length </div>
            <input type="text" class="forminput" name="Length" id="Length">

            <div class="Largetext"> Manufacturer Name </div>
            <input type="text" class="forminput" name="Manufacturer" id="Manufacturer">

            <div class="Largetext"> Manufacturer Location </div>
            <input type="text" class="forminput" name="Location" id="Location">

            <div class="Largetext"> Color </div>
            <input type="text" class="forminput" name="Color" id="Color"> <br><br>

            <span class="Largetext"> Cost </span> <span class="bodytext" id="costnote"> </span><br><br>
            <input type="text" class="forminput" name="Cost" id="Cost">

            {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %} <br><span style="color: red; margin-left: 2vw;" {% if m.tags %} class="{{ m.tags}}" {% endif %}>{{m}} </span> {% endif %}
            {% endfor %}

            <br><br>

            <span class="Largetext"> Stock </span> <span class="bodytext" id="stocknote" name="stocknote"> </span> 
            <br><br>
            
            <input type="text" class="forminput" name="Stock" id="Stock"> 
               {% for m in messages %}
                    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %} <p style="color: red; margin-left: 2vw;" {% if m.tag == 'error' %} class="{{m.tags}}" {% endif %}> {{m}}</p> {% endif %}
                {% endfor %}
            <br><br>

            <div class="Largetext"> Description </div>
            <textarea type="text" class="forminput" name="Description" id="desc" rows="8" placeholder="Type in new Product Description!" style="margin-left: 2vw;"> </textarea>
            
            <div class="Largetext"> Measurement </div>
            <input type="text" class="forminput" name="Measurement" id="Measurement" value="{{Prod.Measurement}}">

            <div class="Largetext"> Gross Weight </div>
            <input type="text" class="forminput" name="Weight" id="Weight" value="{{Prod.GrossWeight}}">
        
            <div class="Largetext"> Contact Details </div>
            <input type="text" class="forminput" name="Contact" id="Contact">
            <div style="display: inline-flex; margin-left: 2vw; margin-top: 5vh;">
            <button class="Button" type="submit"> Add Product </button>
            <a class="Button" href="{% url 'Products' %}" style="margin-left: 2vw;"> Back to Products </a>
            </div>
            <br><br>
        </div>
    </form>
    <br><br>
    
    <style>
        #sticknote{
            margin-left: 20vw;
        }

        #Stock{
            margin-bottom: 3vh;
        }

    </style>
    <script src="{% static 'js/AddProd.js' %}"> </script>
    {% endblock %}
    
</body>
</html>