{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product Order Management Software </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/output.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/pic/favicon.ico' %}">

</head>
<body>
    {% block header %}
        <div class="header">
            {% if C == True %}
            <a class="Home {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}"> <span>Home</span> </a>
            <div class="justin"> </div>
            <a class="Products {% if request.path == '/Products' %}active{% endif %}" href="{% url 'Products' %}"> <span>View Steel Inventory</span> </a>
            <div class="justin"> </div>
            <a class="User {% if request.path == '/PendingOrders' %}active{% endif %}" href="{% url 'Products2' %}"> <span>Pending Orders</span> </a>
            <div class="justin"> </div>
            <a class="User {% if request.path == '/ClerkPage' %}active{% endif %}" href="{% url 'clerk' %}"> <span>Clerk Page</span> </a>          
            <div class="justin"> </div>
            <a class="User {% if request.path == '/NotifyParties' %}active{% endif %}" href="{% url 'shownotify' %}"> <span>Notify Parties</span> </a>
            <div class="justin"> </div>
            <a class="User {% if request.path == '/ConfirmedOrders' %}active{% endif %}" href="{% url 'doneorders' %}"> <span>Confirmed orders</span> </a>
            

            {% elif C == False %}
            
            <a class="Home {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}"> Home </a>
            <div class="justin"> </div>
            <a class="Products {% if request.path == '/Products' %}active{% endif %}" href="{% url 'Products' %}"> View Steel Inventory </a>
            <div class="justin"> </div>
            <a class="User {% if request.path == '/ClerkPage' %}active{% endif %}" href="{% url 'Signup' %}"> Signup/Login </a>
            <div class="justin"> </div>
            {% endif %}
            <input id="hide" name="hide" type="hidden" value="">  
        </div><br>
        <div class="brandholder" style="float: right; margin-right: 9vw; margin-top: 3vh; border-radius: 9px;">
            <img src="{% static 'pic/chinalogo2.png' %}" style="display: inline;">
            <span style="font-family: Helvetica; font-weight: 100; font-size: 20px;"><i>China Global Steel Trading</i></span> 
        </div><br><br><br>

    {% endblock %}

    {% block content %}
    {% endblock %}
    

</body>
</html>