{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DecoreManufacturing </title>
    <link rel="stylesheet" type="text/css" href="{%  static '/css/output.css' %}">

</head>
<body>
    {% block header %}
    <br>
        <div class="header">
            {% if C == True %}
            <a class="Home {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}"> Home </a>
            <a class="Products {% if request.path == '/Products' %}active{% endif %}" href="{% url 'Products' %}"> View Steel Inventory </a>
            <a class="About {% if request.path == '/Developer' %}active{% endif %}" href="{% url 'Developer' %}"> About the Developer </a>
            <a class="User {% if request.path == '/PendingOrders' %}active{% endif %}" href="{% url 'Products2' %}"> Pending Orders </a>
            <a class="User {% if request.path == '/ClerkPage' %}active{% endif %}" href="{% url 'clerk' %}"> Clerk Page </a>          
            <a class="User" href="{% url 'home' %}"> Confirm orders (Not available yet) </a>
   
            {% elif C == False %}
            
            <a class="Home {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}"> Home </a>
            <a class="Products {% if request.path == '/Products' %}active{% endif %}" href="{% url 'Products' %}"> View Steel Inventory </a>
            <a class="About {% if request.path == '/Developer' %}active{% endif %}" href="{% url 'Developer' %}"> About the Developer </a>
            <a class="User {% if request.path == '/ClerkPage' %}active{% endif %}" href="{% url 'Signup' %}"> Signup/Login </a>
            {% endif %}
            <input id="hide" name="hide" type="hidden" value="">  
        </div>
        <img src= "{% static 'pic/chinalogo.gif' %}" style="float: right; margin-right: 9vw; margin-top: 3vh; border-radius: 9px;"> <br><br><br>
        
    <script>
        let button1 = document.querySelector('.header');
        let input1 = document.getElementById('hide');
        button1.addEventListener('click', ()=>{
            console.log('clicked!');
            input1.value = "DEAD";
        })
    </script>
    {% endblock %}

    {% block content %}
    {% endblock %}
    

</body>
</html>