{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Products </title>
</head>
<body>
    {% block content %}
        <br><br><br>
        {% if e == True %}      
            <div class="container">
                <div class="Largetext" style="position: relative;"> No Products for this order yet! </div><br>
                <a class="Button" href="{% url 'Products2' %}" style="margin-bottom: 1vh; position: relative;"> Back to Pending Orders </a><br><br>
            </div>
        {% else %}
                <div class="Largetext" style="margin-left: 24vw;"> Edit a Transaction from Order {{p}} </div> 
                {% for o in Products %}
                <div class="container">
                    <div class="bodytext">
                    <div class="Largetext"> <b>Ordered Product ID:</b>   {{o.OrderedProductID}} </div> 
                    Product: <b> {{o.Marks.Name}} </b> <br>
                    Order Remarks : {{o.remarks}} <br>
                    Quantity : {{o.quantity}} <br>
                    Total Cost : ${{o.totalcost}}
                    <a class="Button" href="{% url 'editorder' pk=o.pk %}" style="margin-left: 1vw;"> Edit Transaction </a>
                    <a class="Button" href="{% url 'deltrans' pk=o.pk %}" style="margin-left: 2vw;"> Delete Transaction </a>
                    </div>
                </div>
                <br>
                {% endfor %}
                <a class="Button" href="{% url 'Products2' %}" style=" float: right; margin-right: 25vw; margin-top:1vh; background-color: yellow; position: relative;"> Back to Pending Orders </a>
                <br>
        {% endif %}
    <br><br>
    {% endblock %}
</body>
</html>