{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Products </title>
</head>
<body>
    {% block content %}
    <br><br>      
    <div class="Largetext" style="margin-left: 24vw;"> Unconfirmed Orders </div> 
            {% for c in CurrentProd %}
            <div class="container">
                <div class="bodytext">
                <div class="Largetext"> Order:  <b> {{c.OrderID.pk}} </b> </div> 
                Order: <b> {{c.Marks.Name}} </b> <br>
                Order Remarks : {{c.remarks}} <br>
                Quantity : {{c.quantity}} <br>
                Total Cost : P{{c.totalcost}}
                <a class="Button" href="{% url 'editorder' pk=c.pk %}" style="margin-left: 1vw;"> Edit Transaction </a>
                <a class="Button" href="{% url 'deltrans' pk=c.pk %}" style="margin-left: 2vw;"> Delete Transaction </a>
                </div>
            </div>
            <br>
            {% endfor %}
    {% endblock %}
</body>
</html>