{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Products </title>
</head>
<body>
    {% block content %}
    <br><br>
        
    <div class="Largetext"> Confirm Order </div> 
        {% if User in list %}

            {% for c in CurrentProd %}
            <div class="container">
                <div class="bodytext">
                <div class="Largetext"> Product :  <b> {{c.Order.Name}} </b> </div> 
                Order Remarks : {{c.remarks}} <br>
                Quantity : {{c.quantity}} <br>
                Total Cost : {{c.totalcost}}
                </div>
            </div>
            <br>
            {% endfor %}

        <div class="Largetext"> Total Cost: {{price}}</div>
        {% elif User not in list %}
        <div class="container">
            <div class="largetext"> You have not ordered yet! </div>
        </div>
        {% endif %}



    {% endblock %}
</body>
</html>