{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <br><br><br>
        <form method="POST">{% csrf_token %}
            <div class="container" style="position: relative;">
                <img src="{{ Prod.Image.url }}" style="margin: 15px; float: left;" class="image"> 
                <div class="Largetext" style="display: inline-block;"> Product: <span id ='productname'>{{Prod.Name}}</span> </div>
                <div class="Largetext" style="display: inline-block;"> Product Price: <span id ='productcost' data-val="{{Prod.Cost}}">${{Prod.Cost}}</span> </div>
                {% for m in messages %}
                    <div class="bodytext" style="position: absolute; top: 0; margin-left: 15vw; margin-top: 10vh; color: red;"> {{m}} </div>
                {% endfor %}
                
                <br><br><br>
                <div class="Largetext"> Order ID: {{OrderedP.OrderedProductID}}</div><br>
                    <div class="Largetext"> Quantity </div>
                    <select type="number" id="drop" name="drop" style="display:inline; margin-left: 5vw;">
                        <option type="number" id="def" name="def"> 1 </option>
                        {% for x in stock %}
                            {% if x != 1 %}
                            <option type="text" id="num" name="num"> {{x}} </option>
                            {% endif %}
                        {% endfor %}
                    </select><br><br>
                <div class="Largetext"> Total Cost </div>
                <input type="text" class="forminput" name="totalcost" id="totalcost" value="${{Prod.Cost}}" style="margin-left: 5vw;" readonly><br><br>
                <div class="Largetext"> Remarks </div> 
                    <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 5vw;">{{Rem}}</textarea><br><br>
                <div style="display: inline-flex;">
                    <button class="Button" type="submit" style="margin-left: 4vw;"> Submit </button>
                </div>
            
        </form>

                
        <form method="get" style="display: inline;">           
            <button class="Button ml-20"  type="submit" name="Next" value="Next" style="position:absolute; right: 32vw; width: auto;"> Back </button>             
        </form>   
            <br><br>      
            </div>
            <br><br>
            
    <style>
        .Largetext{
            font-weight: 100;
        }  
    </style>
    <script src="{% static 'js/confirmorder.js' %}"> </script>
    {% endblock %}
    
</body>
</html>