{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% if status == 'confirming' %}
    <br><br><br>
    <form method="POST" action="">{% csrf_token %}
        <div class="container">
            <img src="{{ OrderedP.Image.url }}" class="image" style="float:left; margin: 10px;">
            <span class="Largetext"> New Order {{Order.pk}}</span> <br><br><br><br><br><br>

            <table style="text-align: left;"> 
                <tr>
                    <th> <span class="Largetext"> Product: {{OrderedP.Name}} </span> </th>
                </tr>
                <tr>
                    <th> <span class="Largetext"> Product Price: {{OrderedP.Cost}} </span> </th>
                </tr>
                <tr>
                    <th> <span class="Largetext"> Consignee Name: </span> 
                        {% for m in messages %}
                            <div class="label" style="float: right; font-size: 20px; color: red;">
                                {{m}}
                            </div>
                        {% endfor %}
                        <input type="text" class="forminput" name="Person" id="Person" style="margin-left: 1vw; margin-top: 1vh;" value="Type new Consignee Name">      
                    </th>   
                </tr>
                <tr>
                    <th> <span class="Largetext"> Quantity </span>            
                            <select type="text" id="drop" name="drop">
                                {% for x in stocka %}
                                    <option type="text"> {{x}} </option>
                                {% endfor %}
                            </select>                    
                    </th>
                </tr>
                <tr>
                    <th> <span class="Largetext"> Total Cost </span>
                        <input type="text" class="forminput" name="totalcost" id="totalcost" value="${{OrderedP.Cost}}" style="margin-left: 0vw;" readonly> 
                    </th>   

                </tr>
            </table>
                
            <div class="Largetext"> Remarks </div>
            <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 2vw;"> {{remarks}} </textarea><br><br><br>

            <div style="display: flex; margin-left: 2vw;">
                <button class="Button" type="submit" style="width: 10vw;"> Submit </button>
                <button class="Button ml-20"  type="submit" name="More" value="More" style="position:relative; margin-left: 1vw; width: 10vw;"> Submit and Order Again  </button>
                <button class="Button ml-20"  type="submit" name="Back" value="Back" style="position:relative; margin-left: 1vw; width: 10vw;"> Back </button>  
            </div>
            <br>
        </div>
    </form>
    <br><br>

        {% else %}
        <br><br><br>
        <form method="POST" action="">{% csrf_token %}
            <div class="container">
                <img src="{{ OrderedP.Image.url }}" class="image" style="float:left; margin: 10px;">
                <span class="Largetext"> Add Product to Order {{Order.pk}}</span> <br><br><br><br><br><br>

                <table style="text-align: left;"> 
                    <tr>
                        <th> <span class="Largetext"> Product: {{OrderedP.Name}} </span> </th>
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Product Price: {{OrderedP.Cost}} </span> </th>
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Consignee Name: </span>
                            <input type="text" class="forminput" name="Person" id="Person" style="margin-top: 1vh;" value="{{Order.BL.Name}}" readonly>      
                        </th>   
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Quantity </span>            
                                <select type="text" id="drop" name="drop">
                                    {% for x in stocka %}
                                        <option type="text"> {{x}} </option>
                                    {% endfor %}
                                </select>                    
                        </th>
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Total Cost </span>
                            <input type="text" class="forminput" name="totalcost" id="totalcost" value="${{OrderedP.Cost}}" style="margin-left: 0vw;" readonly> 
                        </th>   

                    </tr>
                </table>
                
                {% for m in messages %}
                    <div class="label" style="float: right; font-size: 20px; color: red;">
                        {{m}}
                    </div>
                {% endfor %}
                    
                <div class="Largetext"> Remarks </div>
                <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 2vw;"> {{remarks}} </textarea><br><br><br>

                <div style="display: flex; margin-left: 2vw;">
                    <button class="Button" type="submit" style="width: 10vw;"> Submit </button>
                    <button class="Button ml-20"  type="submit" name="More" value="More" style="position:relative; margin-left: 1vw; width: 10vw;"> Submit and Order Again  </button>
                    <button class="Button ml-20"  type="submit" name="Back" value="Back" style="position:relative; margin-left: 1vw; width: 10vw;"> Back </button>  
                </div>
                <br>
            </div>
        </form>
        <br><br>
        {% endif %}
    
    <style>
         tr > th{
            max-width: 100%;
            width: 48vw;
            display: block;
            word-wrap: break-word;
            margin-top: 5vh;
            font-weight: 200;
        }

    </style>
    <script>
        let cost = "{{OrderedP.Cost}}";
        let chosen = document.getElementById('drop');
        chosen.addEventListener('change',()=>{
            let result = document.getElementById('totalcost');
            let chosen = document.getElementById('drop');
            let val = chosen.value;
            result.value = "$" + parseFloat(parseInt(val) * parseFloat(cost.slice(0))).toFixed(2);
        })

        let order = document.getElementById('Order')
        let person = document.getElementById('Person')
        order.addEventListener('change',()=>{
            let obj = {

            }
            let query = "{% for i in Orders %} {{ i.BL }} {% endfor %}"
            let queries = query.trim().replaceAll(" ","")
            let sam = 0;
            if (queries.length === 0){
                console.log('empty')
                person.value = "Type Name of Consignee"
                console.log("queries.`${sam}`")
            }
            else{
                let data = order.value;
                let sam = 0;
            

            }
           
            
        })

        
        


        
    </script>
    {% endblock %}
    
</body>
</html>