{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% if status == 'confirming' %}
    <br><br><br>
    <form method="POST" action="">{% csrf_token %}
        <div class="container">
            <img src="{{ OrderedP.Image.url }}" class="image" style="float:left; margin-top: 3vh; margin-left: 3vw;">
            <div class="Largetext" style="margin-left: 17vw;"> <b>New Order</b></div> 
            <div class="Largetext" style="margin-left: 17vw;"> Product: {{OrderedP.Name}} </div><br> 

            <table style="text-align: left;"> 
                <tr>
                    <th> <span class="Largetext"> Product Price: <span id="costval" name="costval" data-val="{{OrderedP.Cost}}">${{OrderedP.Cost}}</span> </span> </th>
                </tr>
                <tr>
                    <th> <span class="Largetext"> Consignee Name: </span> 
                        {% for m in messages %}
                            <span class="label" style=" font-size: 20px; color: red;">
                                {{m}}
                            </span>
                        {% endfor %}
                    </th> 
                </tr>
                <tr>
                    <th><input type="text" class="forminput" name="Person" id="Person" style="margin-left: 1vw;" placeholder="Type new Consignee Name"></th>          
                </tr>
                <tr>
                    <th> <span class="Largetext"> Quantity </span>            
                            <select type="text" id="drop" name="drop">
                                {% for x in stocka %}
                                    <option type="text"> {{x}} </option>
                                {% endfor %}
                            </select>                    
                    </th>
                </tr>
                <tr>
                    <th> <span class="Largetext"> Total Cost </span>
                        <input type="text" class="forminput" name="totalcost" id="totalcost" value="${{OrderedP.Cost}}" style="margin-left: 0vw;" readonly> 
                    </th>   

                </tr>
            </table><br>
                
            <div class="Largetext" style="margin-left: 2vw;"> Remarks </div>
            <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 3vw;" placeholder="Can be left blank if no remarks...">{{remarks}}</textarea><br><br><br>

            <div style="display: flex; margin-left: 2vw;">
                <button class="Button" type="submit" style="width: 10vw;"> Submit </button>
                <button class="Button ml-20"  type="submit" name="More" value="More" style="position:relative; margin-left: 1vw; width: 10vw;"> Submit and Order Again  </button>
                <button class="Button ml-20"  type="submit" name="Back" value="Back" style="position:relative; margin-left: 1vw; width: 10vw;"> Back </button>  
            </div>
            <br>
        </div>
    </form>
    <br><br>
    <script src="{% static 'js/confirmcreateorder.js' %}"> </script>

        {% else %}
        <br><br><br>
        <form method="POST" action="">{% csrf_token %}
            <div class="container">
                <img src="{{ OrderedP.Image.url }}" class="image" style="float:left; margin: 10px; margin-left: 3vw;">
                <div class="Largetext" style="margin-top: 1vh; margin-left: 16vw;"> Add Product to Order {{Order.pk}}</div> <br><br><br>

                <table style="text-align: left;"> 
                    <tr>
                        <th> <span class="Largetext"> Product: {{OrderedP.Name}} </span> </th>
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Product Price: <span id="costval" name="costval" data-val="{{OrderedP.Cost}}">${{OrderedP.Cost}}</span> </span> </th>
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Consignee Name: </span>
                            <input type="text" class="forminput" name="Person" id="Person" style="margin-top: 1vh;" value="{{Order.BL.Name}}" readonly>      
                        </th>   
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Quantity </span>            
                                <select type="text" id="drop" name="drop">
                                    {% for x in stocka %}
                                        <option type="text"> {{x}} </option>
                                    {% endfor %}
                                </select>                    
                        </th>
                    </tr>
                    <tr>
                        <th> <span class="Largetext"> Total Cost </span>
                            <input type="text" class="forminput" name="totalcost" id="totalcost" value="${{OrderedP.Cost}}" style="margin-left: 0vw;" readonly> 
                        </th>   

                    </tr>
                </table><br>
                
                {% for m in messages %}
                    <div class="label" style="float: right; font-size: 20px; color: red;">
                        {{m}}
                    </div><br>
                {% endfor %}
                    
                <div class="Largetext" style="margin-left: 2vw;"> Remarks </div>
                <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 3vw;" placeholder="Can be left blank if no remarks...">{{remarks}}</textarea><br><br><br>

                <div style="display: flex; margin-left: 2vw;">
                    <button class="Button" type="submit" style="width: 10vw;"> Submit </button>
                    <button class="Button ml-20"  type="submit" name="More" value="More" style="position:relative; margin-left: 1vw; width: 10vw;"> Submit and Order Again  </button>
                    <button class="Button ml-20"  type="submit" name="Back" value="Back" style="position:relative; margin-left: 1vw; width: 10vw;"> Back </button>  
                </div>
                <br>
            </div>
        </form>
        <br><br>
        {% endif %}
    
    <style>
         tr > th{
            max-width: 100%;
            width: 48vw;
            display: block;
            word-wrap: break-word;
            margin-top: 5vh;
            font-weight: 100;
        }

        div {
            font-weight: 100;
        }

        tr > th {
            padding: 10px;
        }


    </style>
    <script src="{% static 'js/confirmcreateorder.js' %}"> </script>
    {% endblock %}
    
</body>
</html>