{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <br><br><br>
        <form method="POST" action="">{% csrf_token %}
            <div class="container">
                <img src="{{ OrderedP.Image.url }}" class="image" style="float:left; margin: 10px;"><br><br><br><br><br><br><br><br><br>
                <div class="Largetext"> Product: <span id ='productname'>{{OrderedP.Name}}</span> </div>
                <div class="Largetext"> Product Price: <span id ='productcost'>{{OrderedP.Cost}}</span> </div>
                
                {% if Order == "" %}
                <div class="Largetext"> Consignee Name: </div>
        
                <input type="text" class="forminput" name="Person" id="Person" style="margin-left: 5vw;" value="Type new Consignee Name"> 
                
                <div class="Largetext"> Port of Discharge: </div>
                <input type="text" class="forminput" name="Port" id="Poirt" style="margin-left: 5vw;" value="Type new Port of Discharge">

                {% else %}
                
                <div class="Largetext"> Consignee Name: </div>
                {% if fetch != "New" %}
                <input type="text" class="forminput" name="Person" id="Person" style="margin-left: 5vw;" value="{{Order.BL.Name}}" readonly> 
                {% endif %}

                
                <div class="Largetext"> Port of Discharge: </div>
                {% if fetch != "New" %}
                <input type="text" class="forminput" name="Port" id="Poirt" style="margin-left: 5vw;" value="{{Order.BL.PortDischarge}}" readonly>
                {% endif %}

                {% endif %}

                    <div class="Largetext"> Quantity </div>
                    <select type="text" id="drop" name="drop" style="display:inline; margin-left: 5vw;">
                        {% for x in stocka %}
                            <option type="text" id="num" name="num"> {{x}} </option>
                        {% endfor %}
                    </select>
                <div class="Largetext"> Total Cost </div>
                <input type="text" class="forminput" name="totalcost" id="totalcost" value="{{OrderedP.Cost}}" style="margin-left: 5vw;"> 
                <div class="Largetext"> Remarks </div>
                <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 5vw;"> {{Rem}} </textarea><br><br><br>

                <div style="display: flex; margin-left: 2vw;">
                    <button class="Button" type="submit" style="width: 10vw;"> Submit Order </button>
                    <button class="Button ml-20"  type="submit" name="More" value="More" style="position:relative; margin-left: 1vw; width: 10vw;"> Submit and Make New Transaction </button>
                    <button class="Button ml-20"  type="submit" name="Back" value="Back" style="position:relative; margin-left: 1vw;"> Go back </button>  
                </div>
                <br>
            </div>
        </form>
        {% for m in messages %}
            <div class="label" style="margin-top: 3vh;">
                {{m}}
            </div>
        {% endfor %}
        <br><br>
            
    <script>
        let cost = "{{OrderedP.Cost}}";
        let chosen = document.getElementById('drop');
        chosen.addEventListener('change',()=>{
            let result = document.getElementById('totalcost');
            let chosen = document.getElementById('drop');
            let val = chosen.value;
            result.value = "$" + parseInt(val) * parseInt(cost.slice(1));
        })

        let order = document.getElementById('Order')
        let person = document.getElementById('Person')
        order.addEventListener('change',()=>{
            let obj = {

            }
            let query = "{% for i in Orders %} {{ i.BL }} {% endfor %}"
            let queries = query.trim().replaceAll(" ","")
            let sam = 0;
            if (queries.length === 0){
                console.log('empty')
                person.value = "Type Name of Consignee"
                console.log("queries.`${sam}`")
            }
            else{
                let data = order.value;
                let sam = 0;
            

            }
           
            
        })

        
        


        
    </script>
    {% endblock %}
    
</body>
</html>