{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <br><br><br>
        <form method="POST">{% csrf_token %}
            <div class="container" style="position: relative;">
                <img src="{{ Prod.Image.url }}" style="margin: 15px;" class="image"> <br><br>
                <div class="Largetext"> Order ID: {{OrderedP.OrderedProductID}}</div>
                <div class="Largetext"> Product: <span id ='productname'>{{Prod.Name}}</span> </div>
                <div class="Largetext"> Product Price: <span id ='productcost'>{{Prod.Cost}}</span> </div>
                    <div class="Largetext"> Quantity </div>
                    <select type="number" id="drop" name="drop" style="display:inline; margin-left: 5vw;">
                        {% for x in stock %}
                            <option type="text" id="num" name="num"> {{x}} </option>
                        {% endfor %}
                    </select>
                <div class="Largetext"> Total Cost </div>
                <input type="text" class="forminput" name="totalcost" id="totalcost" value="{{Prod.Cost}}" style="margin-left: 5vw;"> 
                <div class="Largetext"> Remarks </div> 
                    <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 5vw;"> {{Rem}} </textarea><br><br>
                <div style="display: inline-flex;">
                    <button class="Button" type="submit" style="width: 10vw; margin-left: 4vw;"> Submit Change in Transaction </button>
                </div>
            
        </form>

                
        <form method="get" style="display: inline;">           
            <button class="Button ml-20"  type="submit" name="Next" value="Next" style="position:absolute; right: 27vw; bottom: 6vh;"> Go back </button>             
        </form>   
            <br><br>      
            </div>
            <br><br>
            
    <script>
        let cost = "{{Prod.Cost}}";
        let chosen = document.getElementById('drop');
        chosen.addEventListener('change',()=>{
            let result = document.getElementById('totalcost');
            let chosen = document.getElementById('drop');
            let val = chosen.value;
            console.log(val);
            console.log(cost);
            result.value = "$" + parseInt(val) * parseInt(cost.slice(1));
        })
    </script>
    {% endblock %}
    
</body>
</html>