{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br>
    <span class="Largetext" style="margin-left: 23.5vw;"> Edit Product </span><br><br>
    <form method="POST" enctype="multipart/form-data" action="{% url 'editproduct' pk=Prod.pk %}">{% csrf_token %}
        <div class="container">
            <div class="Largetext"> Image </div>
            <input type="file" accept="image/png, image/jpeg" name="Image" id="Image"><br><br>
            {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %} <span style="color: red;">{{m}} </span> {% endif %}
            {% endfor %}

            <div class="Largetext"> Product Name </div> 
            <input type="text" class="forminput" name="Name" id="Name" value="{{ Prod.Name }}"><br><br>

            <div class="Largetext"> Length </div>
            <input type="text" class="forminput" name="Length" id="Length" value="{{Prod.Length}}"><br><br>

            <div class="Largetext"> Manufacturer Name </div>
            <input type="text" class="forminput" name="Manufacturer" id="Manufacturer" value="{{Prod.Manufacturer}}"><br><br>

            <div class="Largetext"> Manufacturer Location </div>
            <input type="text" class="forminput" name="Location" id="Location" value="{{Prod.ManuLoc}}">

            <br><br><br>

            {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %} <span {% if m.tags %} style="color: red; margin-left: 2vw;" class="{{ m.tags}}" {% endif %}>{{m}} </span><br> {% endif %}
            {% endfor %}

            <span class="Largetext"> Cost </span> <br>
            <span class="bodytext" id="costnote" style="margin-left: 2vw;"> </span><br>
            <input type="text" class="forminput" name="Cost" id="Cost" value="{{Prod.Cost}}"><br><br><br>

            {% if Prod.Available == True %}
                <input type="radio" name="prepcol" id="yes" value="True" checked>
                <label for="yes"> Available </label> 
                <input type="radio" name="prepcol" id="no" value="False">
                <label for="no"> Not Available </label> <br><br>
                <input type="hidden" id="fin" name="fin" value="True"> <br>
            {% elif Prod.Available == False %}
                <input type="radio" name="prepcol" id="yes" value="True">
                <label for="yes"> Available </label> 
                <input type="radio" name="prepcol" id="no" value="False" checked>
                <label for="no"> Not Available </label> <br><br>
                <input type="hidden" id="fin" name="fin" value="False"> <br>
            {% endif %}


            {% for m in messages %}
                {% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %} <span {% if m.tags %} style="color: red; margin-left: 2vw;" class="{{ m.tags}}" {% endif %}>{{m}} </span> {% endif %}
            {% endfor %}

            <div class="Largetext" style="padding: 8px; margin-bottom: 0vh; margin-left: 1.5vw;"> Stock (+ for adding, - for removing) </div> <span class="bodytext" id="stocknote" name="stocknote" style="margin-left: 2vw;"> </span><br>
            <input type="text" class="forminput" name="stock" id="stock" value=0><br><br>

            <div class="Largetext"> Product Description </div>
            <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 2vw;"> {{Prod.Description}} </textarea><br><br>
            
            <div class="Largetext"> Measurement </div>
            <input type="text" class="forminput" name="Measurement" id="Measurement" value="{{Prod.Measurement}}"><br><br>

            <div class="Largetext"> Gross Weight </div>
            <input type="text" class="forminput" name="Weight" id="Weight" value="{{Prod.GrossWeight}}"><br><br>

            <div class="Largetext"> Contact Details </div>
            <input type="text" class="forminput" name="Contact" id="Contact" value="{{Prod.Contact}}"><br><br><br><br>
            <a class="Button" id="edittemp"> Edit Product </a>
            <a class="Button" href="{% url 'view' pk=Prod.pk %}" id="browse"> Back to Product Information </a> <br> <br>
        </div>
        <br><br>
        <div class="container" id="tempbox" style="background-color:rgb(238, 238, 238)">
            <div class="Largetext"> Are you sure you sure you want to save these changes to product: {{Prod.Name}}? </div>
            <button class="Button" type="submit" id="temp"> Yes </button>
            <a class="Button" id="hideme" style="margin-left: 2vw;"> No </a>
        </div>
    </form> 

    <style>
        #tempbox{
            position: fixed;
            /*right: 24.5vw;
            bottom: -50vw;*/
            bottom: 50vh;
            right: 24.5vw;
            display: none;
            height: fit-content;
            background-color: rgb(58, 152, 185);
            max-width: 100%;
        }

        .Largetext{
            font-weight: 100;
        }
        .showme{
            display: inline;
        }
    </style>
    <script src="{% static 'js/edit.js' %}"></script>
    {% endblock %}
</body>
</html>