{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br><br>
    <form method="POST" action="{% url 'editorder' pk=K.pk %}">{% csrf_token %}
        <div class="container" style="position: relative;">
            <img src="{{K.Marks.Image.url}}" style="position: absolute; right: 2vw; top: 1vw;">   
            <div class="Largetext"> Product Name </div> 
            <select type="text" id="proddrop" name="proddrop" style="display:inline; margin-left: 2vw;">
                <option value=""> {{K.Marks.Name}} </option>
                {% for p in P %}
                    {% if p != Prod %}
                    <option type="text" id="product" name="product"> {{p}} </option>
                    {% endif %}
                {% endfor %}
            </select> 
            
            <div class="Largetext"> Remarks </div>
            <textarea type="text" class="forminput" name="Description" id="Description" rows="8" style="margin-left: 2vw;"> {{K.remarks}} </textarea> 
            <div style="margin:auto; display: flex; float:right; margin-right: 1vw; margin-top: 15vh">
                <button class="Button" id="submit" type="submit" style="width:10vw; margin-right: 1vw;"> Change Transaction </button>
                <a class="Button ml-20" href="{% url 'UnfTrans' %}"> Back </a> 
            </div>
        </div>
    </form>
    <br><br>
    <script>
        let placeholder = document.getElementById('drop');
        let prodplaceholder = document.getElementById('proddrop')
        let result = document.getElementById('Manufacturer');
        let cost = '{{K.Order.Cost}}';
        let quant = document.getElementById('num');
        result.value = parseInt(quant.value) * parseInt(cost.slice(1));

        placeholder.addEventListener('change',()=>{
            let chosen = document.getElementById('drop');
            let val = chosen.value;
            console.log(val);
            console.log(cost);
            result.value = parseInt(val) * parseInt(cost.slice(1));
        })
    </script>

    {% endblock %}
</body>
</html>