{% extends 'Inventory/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title> 
</head>
<body>

        {% block content %}
    <br><br>
    <div class="container">
            <div class="Largetext" style="font-size: 30px;"> Web Inventory Order Management Software </div><br>

            <div class="Largetext" style="display: inline;"> Purpose </div>
            <div class="shape2"> </div>
            <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
                This software was created to create and manage product transactions for China Global Steel Trading. It could
                confirm orders and would store and present data in a manner that could be used for the letter of credit and manufacturing order. 
            </div>

            <br><br>

            <div class="Largetext" style="display: inline;"> Technical Specifications </div>
            <div class="shape1"> </div>
            <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;">
                In order to develop this software, Django (Python), SQL, and Javascript were used.
            </div>
            <br><br>    

            <div class="Largetext" style="font-size: 28px;"> Some Reminders about Database Logic </div><br><br>

            <div class="Largetext" style="display: inline;"> Notify Party </div>
            <img class="shape3" src="{% static '/pic/wizard.png' %}">
            <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;">
                Every shipment containing multiple orders would require a Notify Party. The Notify
                Party would be notified when the shipment arrives at the destination. During the process of 
                confirming an order, there would be a list of choices for available notify parties. <br><br>

                In order to be more efficient, Notify parties will be added in the database of the application
                in order to save the information regarding these Notify Parties for future use.
            </div>
    </div>
    <br><br>
        {% endblock %}
</body>
</html>