{% extends 'Inventory/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title> 
</head>
<body>

        {% block content %}
    <br><br>
    <div class="container">
        <div class="Largetext" style="font-size: 30px; font-family: Helvetica; font-weight: 100;"> Web Inventory Order Management Software </div><br>

        <div class="Largetext" style="display: inline; font-size: 28px;"> Purpose </div>
        <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
            This software was created to create and manage product transactions for China Global Steel Trading. It could
            confirm orders and could store and present data in a manner that could be used for the letter of credit and manufacturing order. 
            This software is capable of managing orders, product stock, order total costs, and the products within those orders. 
        </div> <br><br>

        <div class="Largetext" style="display: inline; font-size: 28px;"> Application Components </div> <br><br><br>

        <div class="Largetext" style="display: inline;"> Product Management </div>
        <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
            This software allows Product management through adding products, editing products, and the deletion of products.
            Products are categorized through a <b>Product</b> object entity which includes product information and stock. Once the stock 
            reaches 0 or less than 0, then it will not be available for being included in orders. If there are new stock available for the 
            depleted product, then the clerk could simply edit Product information and change the stock.
        </div> <br><br>

        <div class="Largetext" style="display: inline;"> Order Management </div>
            <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
                Orders are object entities that contain information about the products that were ordered within it. Orders are used to
                identify the products that a Consignee have ordered within an order. However, Orders aren't as straightforward as it seems in the software. <br>
            </div><br>

                <div class="Largetext" style="font-size: 22px;"> FinalOrder </div> 
                    <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
                        An order could contain
                        several products that a Consignee could order. In this software, Orders are known as a <b>FinalOrder</b> They contain fields such as
                        place and date of issue, consignee information, time of issue, as well as other manufacturing order fields such as local vessel, shipper name,
                        notify party, and more. <br><br> FinalOrder objects contain identification fields as well. These FinalOrder objects contain <b>OrderedProduct</b> objects.      
                    </div><br>
                
                <div class="Largetext" style="font-size: 22px;"> Consignee </div> 
                    <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
                        A <b>Consignee</b> object represents the customer or client that will order products. It contains the fields 
                        Bill of Lading identification ID and the name of the client.
                    </div><br>
                    
                <div class="Largetext" style="font-size: 22px;"> OrderedProduct </div> 
                    <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
                        For good Database practice, an object entity must be created between a "Product" object 
                        and a "FinalOrder" object in order to represent a product that was ordered <i>within</i>
                        an order. This is the definition of an <b>OrderedProduct</b> object. It contains fields such as
                        quantity, totalcost, remarks, and identification fields.
                    </div><br> 
        
        <div class="Largetext"> Notify Party </div> 
            <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;"> 
                Every shipment containing multiple orders would require a Notify Party. The Notify
                Party would be notified when the shipment arrives at the destination. During the process of 
                confirming an order, there would be a list of choices for available notify parties. The 
                <b>NotifyParty</b> object contains information regarding a Notify Party. <br><br>
                In order to be more efficient, Notify parties will be added in the database of the application
                in order to save the information regarding these Notify Parties for future use. Hence, NotifyParty objects
                could be added and edited in the application.
            </div> 

        <br><br>

        <div class="Largetext" style="display: inline; font-size: 28px;"> Technical Specifications </div>
            <div class="bodytext" style="margin-left: 2vw; margin-top: 2vh;">
                In order to develop this software, Django (Python), SQL, and Javascript were used. <br><br>
                <b>Django</b> was used for the back-end architecture as well as the front-end views components of the application.<br><br>
                <b>SQL</b> was used to connect the SQLITE3 database of Django to a MySQL server. <br><br>
                <b>Javascript</b> was used to provide User Experience and User Interface functionalities for the application, as well as data retrievals from the fields of forms.
            </div>
        <br><br>    
    </div>
    <br><br>
    <style>
        div > .bodytext{
            width: 45vw;
            line-height: 2.5;
        }

        .Largetext{
            font-family: Helvetica;
            font-weight: 100;
        }

    </style>
        {% endblock %}
</body>
</html>