{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product Information </title>
</head>
<body>
    {% block content %}
    {% if C == True %}
    <br>
        <div class="container">
            <img src="{{P.Image.url}}"> 
            <div class="Largetext"> Product Name : {{P.Name}}</div>
            <span class="bodytext"> Description : {{P.Description}} </span> <br><br>
            <div class="Largetext"> Product Marks: </div> <span class="bodytext"> {{ P.Marks }} </span><br><br>
            <div class="Largetext"> Manufacturer : </div> <span class="bodytext"> {{P.Manufacturer}} </span> <br><br>
            <div class="Largetext"> Location of Manufacturer : </div> <span class="bodytext"> {{P.ManuLoc}} </span> <br> <br>   
            <div class="Largetext"> Length : </div> <span class="bodytext"> {{P.Length}} </span> <br> <br>
            <div class="Largetext"> Cost : </div> <span class="bodytext"> {{P.Cost}} </span> <br> <br>
            <div class="Largetext"> Gross Weight : </div> <span class="bodytext"> {{P.GrossWeight}} </span> <br> <br>
            <div class="Largetext"> Color : </div> <span class="bodytext"> {{P.Color}} </span> <br> <br>
            <div class="Largetext"> Measurement : </div> <span class="bodytext"> {{P.Measurement}} </span> <br> <br>
            <div class="Largetext"> Contact : </div> <span class="bodytext"> {{P.Contact}} </span> 
            <a class="Button w-auto" href="{% url 'edit' pk=P.pk %}"> Edit Info </a>
            <a class="Button" href="{% url 'Products' %}" id="browse"> Delete Product </a>
            <a class="Button" href="{% url 'Products' %}" id="browse"> Browse Products </a> <br> <br>
             
        </div>
    {% elif C == False %}
    <br>
    <div class="container">
        <img src="{{ P.Image.url }}"> 
        <div class="Largetext"> Product Name : {{P.Name}}</div>
        <span class="bodytext"> Description : {{P.Description}} </span> <br><br>
        <div class="Largetext"> Product Marks: </div> <span class="bodytext"> {{ P.Marks }} </span><br><br>
        <div class="Largetext"> Manufacturer : </div> <span class="bodytext"> {{P.Manufacturer}} </span> <br><br>
        <div class="Largetext"> Location of Manufacturer : </div> <span class="bodytext"> {{P.ManuLoc}} </span> <br> <br>   
        <div class="Largetext"> Length : </div> <span class="bodytext"> {{P.Length}} </span> <br> <br>
        <div class="Largetext"> Cost : </div> <span class="bodytext"> {{P.Cost}} </span> <br> <br>
        <div class="Largetext"> Gross Weight : </div> <span class="bodytext"> {{P.GrossWeight}} </span> <br> <br>
        <div class="Largetext"> Color : </div> <span class="bodytext"> {{P.Color}} </span> <br> <br>
        <div class="Largetext"> Measurement : </div> <span class="bodytext"> {{P.Measurement}} </span> <br> <br>
        <div class="Largetext"> Contact : </div> <span class="bodytext"> {{P.Contact}} </span> 
        <a class="Button" href="{% url 'Products' %}" id="browse"> Browse Products </a> <br> <br>
    </div>
    {% endif %}

    <script>
        let tempbox = document.getElementById('tempbox');
        let trigger = document.getElementById('edittemp');
        let back = document.getElementById('hideme');
        trigger.addEventListener('click',() => {
            tempbox.style.display = "inline";
            tempbox.classList.add("shade");
        })
        back.addEventListener('click',()=>{
            tempbox.style.display = "none";
            tempbox.classList.remove("shade");
        })
    
    </script>

    <style>
        #tempbox{
            position: fixed;
            /*right: 24.5vw;
            bottom: -50vw;*/
            bottom: 50vh;
            right: 24.5vw;
            display: none;
            height: 30vh;
            background-color: rgb(53, 192, 213);
        }

        #temp{
            background-color: azure;
            
        }

        #hideme{
            background-color: azure;
        }

        .showme{
            display: inline;
        }
    </style>
    {% endblock %}
</body>
</html>