{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product Information </title>
</head>
<body>
    {% block content %}
    <br>
        <div class="container">
            <div class="Largetext"> Product Name : {{P.Name}}</div>
            <span class="bodytext"> Description : {{P.Description}} </span> <br><br>
            <div class="Largetext"> Manufacturer : </div> <span class="bodytext"> {{P.Manufacturer}} </span> <br><br>
            <div class="Largetext"> Length : </div> <span class="bodytext"> {{P.Length}} </span> <br> <br>
            <div class="Largetext"> Cost : </div> <span class="bodytext"> {{P.Cost}} </span> <br> <br>
            <div class="Largetext"> Contact : </div> <span class="bodytext"> {{P.Contact}} </span> 
            <a class="Button" href="{% url 'Products' %}" id="browse" style="margin-left: 15vw;"> Browse Products </a> <br> <br>
        </div>
        
    {% endblock %}
</body>
</html>