{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block header %} 
    <br>
    <div class="unfinished header">
        <a style="margin: auto;" href="{% url 'home' %}"> Product Site </a>
    </div>
    {% endblock %}
    
    {% block content %}
    <br><br>
    
        <form method="POST" action = "{% url 'Login' %}" autocomplete="off"> {% csrf_token %}
            <div class="formblock" style="width: 35vw; background-color: rgb(174, 215, 218); position: relative;">
                {% for m in messages %}
                    <div class="label" style="position: absolute; right:-1vw; top:3vh; color: red; font-size: medium;">
                        {{ m }}
                    </div>
                {% endfor %} <br>
                <div class="Largetext" style="margin-left: 32.5%; width: 50%; max-width: 100%;"> Login </div>
                <div class="label" style="margin-left: 11.5vw;"> Username </div>
                <div class="forminput" style="margin-left: 11.5vw;">
                    <input class="forminput" name="username"> </input>
                </div>

                <div class="label" style="margin-left: 11.5vw; max-width: 100%;"> Password </div>
                <div class="forminput" style="margin-left: 11.5vw; max-width: 100%;">
                    <input class="forminput" name="password" type="password"> </input>
                </div>

                <button style="margin-left: 34.5%; margin-top: 3vh; max-width: 100%;" class="Button" type="submit">
                    Login
                </button>
                <br><br>

                <div class="Largetext" style="margin-left: 32%; width: 50%; max-width: 100%;"> Need to make an account? </div>
                    <a class="Button" style="margin-left: 34%; max-width: 100%;" href="{% url 'Signup' %}"> Signup </a>
                <br>
                <br>
                <br>
            </div>
        </form>
        <br><br>
  
    {% endblock %}

</body>
</html>