{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br>
    <form method="POST" action="{% url 'createorder' %}">{% csrf_token %}
        <div class="container">
            <div class="Largetext"> <b> New Order Creation </b> </div>
            <div class="Largetext"> Product Name </div> 
            <select type="text" id="proddrop" name="proddrop" style="display:inline; margin-left: 2vw;">
                <option value=""> Choose Product </option>
                {% for p in P %}
                    <option type="text" id="product" name="product"> {{p.Name}} </option>
                {% endfor %}
            </select> 

            <div class="Largetext"> Order Number </div>
                    <select type="text" id="Order" name="Order" style="display:inline; margin-left: 2vw;">
                        <option value=""> Select Order Number </option>
                        {% for o in O %}
                            <option type="text" id="Order" name="Order"> {{o.pk}} </option>
                        {% endfor %}
                        <option type="text" id ="New" name="New"> New Order </option>
                    </select>
            
            <div class="Largetext"> Remarks </div>
            <textarea type="text" class="forminput" name="remark" id="remark" rows="8" style="margin-left: 2vw;">  </textarea>
            <div style="display: inline-flex; margin-left: 5vw;">
                <button class="Button" id="submit" type="submit">  Next </button> <a class="Button ml-20" id="More" name="More" type="submit" href="{% url 'Products' %}" style="margin-left: 2vw;"> Go Back to Products </a> <br>
            </div>
            </div>
    </form>
    {% for m in messages %}
    <div class="label" style="margin-top: 3vh;">
        {{ m }}
    </div>
    {% endfor %}
    <br><br>

    {% endblock %}
    
</body>
</html>