{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% if status == '' %}
    <br><br>
    <form method="POST" action="{% url 'createorder' %}">{% csrf_token %}
        <div class="container">
            <div class="Largetext"> <b> New Order Creation </b> </div>
            {% for m in messages %}
                <span class="label" style="display:inline; float: right; margin-right: -5vw; color: red;">
                    {{ m }}
                </span>
            {% endfor %}
            <div class="Largetext"> Product Name </div> 
            <select type="text" id="proddrop" name="proddrop" style="display:inline; margin-left: 2vw;">
                <option value=""> Choose Product </option>
                {% for p in P %}
                    <option type="text" id="product" name="product"> {{p.Name}} </option>
                {% endfor %}
            </select><br><br>
            
            <div class="Largetext"> Remarks </div>
            <textarea type="text" class="forminput" name="rem" id="rem" rows="8" style="margin-left: 2vw;" placeholder="Can be left blank if no remarks..."></textarea>
            <div style="display: inline-flex; margin-left: 5vw;">
                <button class="Button" id="submit" type="submit">  Next </button> 
                <a class="Button ml-20" id="More" name="More" type="submit" href="{% url 'Products' %}" style="margin-left: 2vw;"> Back </a> <br>
            </div>
            </div>
    </form>
    <br><br>
    {% else %}
        <br><br><br>
        <form method="POST" action="">{% csrf_token %}
            <div class="container">
                {% for m in messages %}
                    <div class="label" style="position: absolute; right: -5vw; margin-top: 1vh; font-size: 20px; color: red;">
                        {{m}}
                    </div>
                {% endfor %}
                
                <div class="Largetext"> Add Product to Order {{pk}} </div> 

                <div class="Largetext"> Product: </div>
                <select type="text" id="prod" name="prod" style="display:inline; margin-left: 2vw;">
                    <option type="text"> Choose a product: </option>
                    {% for x in prods %}
                        <option type="text"> {{x.Name}} </option>
                    {% endfor %}
                </select><br><br>

                <div class="Largetext"> Remarks </div>
                <textarea type="text" class="forminput" name="rem" id="rem" rows="8" style="margin-left: 2vw;" placeholder="Can be left blank if no remarks..."></textarea>
                <div style="display: inline-flex; margin-left: 5vw;">
                    <button class="Button" id="submit" type="submit">  Next </button> <a class="Button ml-20" id="More" name="More" type="submit" href="{% url 'UnfTrans' pk=pk %}" style="margin-left: 2vw;"> Back </a> <br>
                </div>
    
            </div>
        </form>
        <br><br>
        {% endif %}


    <style>
        .Largetext{
            font-weight: 100;
        }
    </style>
    {% endblock %}
    
</body>
</html>