{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
        {% if use == 'home' %}
        <span class="Largetext" style="margin-left:8vw; font-family: Helvetica;"> Product Inventory Management Site </span> <br> 
            {% if C == True %}
            <br>
            <div style="margin-left: -1vw;" id="options"> 
                <a class="Button w-auto" href="{% url 'createorder' %}" style="margin-left:10vw; position: relative;"> Create Transaction </a>
                <a class="Button" style="margin-left: 10px;" href="{% url 'addproduct' %}"> Add A Product </a>
            </div>
            {% endif %}
        
        <table style="font-style: normal; font-weight: normal;" class="Frame">
            <tr class="identify"> 
                <th style="border-top-left-radius: 9px;"> Image </th>
                <th> Product </th>
                <th> Length </th>
                <th> Manufacturer Name </th>
                <th> Quantity </th>
                <th style="border-top-right-radius: 9px;"> Action </th>
            </tr>
            
                {% for p in P %}
                    {% if C == True %}
                    <tr class="Header"> 
                        <th> <img class="image" src="{{ p.Image.url }}"> </th>
                        <th> {{ p.Name }} </th>
                        <th> {{ p.Length }} </th>
                        <th> {{ p.Manufacturer }} </th>
                        <th> {{ p.Stock }} </th>
                        
                        <th>
                            <div class="actions">
                            <a class="Button w-auto" href="{% url 'view' pk=p.pk %}"> View </a> 
                            <a class="Button w-auto" href="{% url 'edit' pk=p.pk %}"> Edit </a> 
                            </div>
                        </th> 
                    </tr>
              


                    {% elif C == False %}

                        <tr class="Header" id="Listed"> 
                            <th> <img src="{{ p.Image.url }}" class="image"> </th>
                            <th> {{ p.Name }} </th>
                            <th> {{ p.Length }} </th>
                            <th> {{ p.Manufacturer }} </th>
                            <th> {{ p.Stock }} </th>
                            <th> <a class="Button" href="{% url 'view' pk=p.pk %}" id="view"> View Information </a> </th>
                        </tr>
                      
                    {% endif %}
                {% endfor %}
            </table>
            <br><br>

    {% elif use == 'complete' %}
        {% if C == True %}

        <br><br><br>

        {% for o in O %}
        <div class="container">
            <div class="Largetext"><b> Order {{o.pk}} </b></div>
            <div class="bodytext" id="done"> 
                <span> <span style="font-weight:bold"> Order ID:</span> {{o.Verification}} </span> 
                <span style="margin-left: 4.5vw;"> <span style="font-weight:bold"> Order Total Cost:</span> ${{o.TotalCost}} </span> <br><br><br>
                <span> <span style="font-weight:bold"> Order Place & Date of Issue:</span> {{o.PlaceDate}} </span> <br><br><br>
                <span> <span style="font-weight:bold"> Consignee:</span> {{o.BL.Name}} </span> 
                <span style="margin-left: 2vw;"> <span style="font-weight:bold"> Consignee ID:</span> {{o.BL.BL}} </span> <br><br><br>
                <span> <span style="font-weight:bold"> Shipper Company:</span> {{o.ShipperName}} </span>

                {% if o.OceanVessel != "" %}
                <span style="margin-left: 2vw;"> <span style="font-weight:bold"> Ocean Vessel:</span> {{o.OceanVessel}} </span> <br><br><br>
                {% endif %}
                {% if o.LocalVessel != "" %}
                <span style="margin-left: 2vw;"> <span style="font-weight:bold"> Local Vessel:</span> {{o.LocalVessel}} </span> <br><br><br>
                {% endif %}
                {% if o.LocalVesselOrigin != "" %}
                <span style="margin-left: 2vw;"> <span style="font-weight:bold"> Local Vessel Origin:</span> {{o.LocalVesselOrigin}} </span> <br><br><br>
                {% endif %}

                <span> <span style="font-weight:bold"> Port of Loading:</span> {{o.Portload}} </span> 
                <span  style="margin-left: 2vw;"> <span style="font-weight:bold"> Port of Discharge:</span> {{o.Portdis}} </span> <br><br><br>
                <span style="margin-left: 2vw;"> <span style="font-weight:bold"> Number of B/L:</span> {{o.NumOfBL}} </span> <br><br><br>

                <span> <span style="font-weight:bold"> Notify Party:</span> {{o.NotifyName.Name}} </span> <br><br><br>
                <span class="bodytext" style="margin-left: 0.1vw; display: flex; flex-wrap: wrap; word-break: break-word;"> <span style="font-weight:bold"> Notify Party Address:</span> {{o.NotifyName.Address}}</span> <br><br>

                {% if o.PayAt != "" %}
                <span> <span style="font-weight:bold"> Payable At:</span> {{o.PayAt}} </span> 
                {% endif %}
                {% if o.Charges != 0 %}
                <span> <span style="font-weight:bold"> Charges:</span> ${{o.Charges}} </span>
                {% endif %}
                {% if o.RevTons != "" %}
                <span> <span style="font-weight:bold"> Revenue Tons:</span> {{o.RevTons}} </span> 
                {% endif %}
                {% if o.Rate != 0 %}
                <span> <span style="font-weight:bold"> Rate:</span> ${{o.Rate}} </span> 
                {% endif %}

                {% if o.Prepaid == "Yes" %}
                <span> <span style="font-weight:bold"> Prepaid:</span> {{o.Prepaid}} </span> <br><br>
                {% else %}
                <span> <span style="font-weight:bold"> Collect:</span> {{o.Collect}} </span> <br><br>
                {% endif %}


            </div>
            {% for p in Ord %}
                {% if p.OrderID == o %}
                <div class="container" id="sub" style="display: relative; max-height: fit-content;">
                    <img src="{{p.Marks.Image.url}}" class="image" style="padding: 20px; max-width: 100%; position: absolute; right: 0vw; top: -0.3vh; border-radius: 9px; border: solid aliceblue; background-color: aliceblue;">
                    <div class="bodytext">
                        <span><b> Ordered Product ID: {{p.OrderedProductID}} </b></span> <br>
                        <span> Product Name: {{p.Marks.Name}} </span><br>
                        <span> Quantity: {{p.quantity}} </span><br>
                        <span> Total Cost: ${{p.totalcost}} </span><br>
                        <span style="display: flex; flex-wrap: wrap; word-break: break-word; max-width: 30vw;"> Remarks: {{p.remarks}} </span>
                    </div>
                    
                </div>
                <br>
                {% endif %}
            {% endfor %}
        </div> <br><br>
        {% endfor %}

        {% endif %}
    {% endif %}


    <style>
        #options > a{
            background-color: rgb(209, 209, 54);
        }

        #options > a:hover{
            background-color: rgb(244, 244, 4);
        }

  
        #done > span{
            font-size: 20px;
            font-weight:200;
            margin-left: 0.5vw;
            max-width: 100%;
        }
        
        #sub{
            background-color: rgb(238, 176, 135);
            margin: auto;
        }

    </style>
    <br><br>
    {% endblock %}


    
</body>
</html>