{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <table class="Frame w-[60vw] h-[20vh]">

        <tr class="Header"> 
            <th> Image </th>
            <th> Product </th>
            <th> Length </th>
            <th> Manufacturer Name </th>
            <th> Quantity </th>
            <th> Action </th>
        </tr>
    {% if C == True %}
        {% for p in P %}
        <tr class="Header w-[25vw]"> 
            <th> <img src="{{ p.Image.url }}"> </th>
            <th> {{ p.Name }} </th>
            <th> {{ p.Length }} </th>
            <th> {{ p.Manufacturer }} </th>
            <th> {{ p.Stock }} </th>
            <th class="actions">
                 <a class="Button w-auto" href="{% url 'order' pk=p.pk %}"> Add Transaction </a>
                  <a class="Button w-auto" href="{% url 'view' pk=p.pk %}"> View </a> 
                  <a class="Button w-auto" href="{% url 'edit' pk=p.pk %}"> Edit Info </a> 
            </th> 
        </tr>
        {% endfor %}


    {% elif C == False %}
        {% for p in P %}
        <tr class="Header"> 
            <th> <img src="{{ p.Image.url }}"> </th>
            <th> {{ p.Name }} </th>
            <th> {{ p.Length }} </th>
            <th> {{ p.Manufacturer }} </th>
            <th> {{ p.Stock }} </th>
            <th> <a class="Button" href="{% url 'view' pk=p.pk %}" id="view"> View Information </a> </th>
        </tr>
        {% endfor %}
    {% endif %}



    </table>


    {% endblock %}
    
</body>
</html>