{% extends 'inventory/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/form.css'%}">
</head>
<body>
    {% block header %}
    <br>
    <div class="unfinished header" style="width: 13%;">
        <a style="margin: auto; width: 100%; border: transparent;" href="{% url 'home' %}"> Product Site </a>
    </div>
    <br>
    {% endblock %}


    {% block content %}
    <br>
    <form method="POST" action="{% url 'Signup' %}">{% csrf_token %}
        <div class="formblock" style="padding-left: 0vw; width: 40vw; background-color: rgb(208, 184, 168); position: relative;">

            {% for m in messages %}
            <div class="label" style="position: absolute; right: -3vw; top: 5vh; color: red; font-size: medium;">
                {{ m }} 
            </div>
            {% endfor %}

            <br><br>
            <div class="Largetext" style="width: 50%; margin-left: 20%;"> Signup </div>
            <div class="label"> Username </div>

            
                <input class="form-control forminput" type="text" name="usern"> </input><br><br>
            

            <div class="label"> Password </div>
            <input class="form-control forminput" type="text" name="passn" autocomplete="off"> </input><br><br>
        

            <div class="label"> First Name &nbsp; <span id="ferror"> </span></div>
            <input class="form-control forminput" type="text" name="firstn" id="firstn"> </input><br><br>

            <div class="label"> Last Name &nbsp; <span id="lerror"> </span></div>
            <input class="form-control forminput" type="text" name="lastn" id="lastn"> </input><br><br>

            <div class="label"> Birthday </div>
            <input class="form-control forminput" type="date" name="birthday1" placeholder="YYYY-MM-DD"> </input><br><br>

            <div class="label"> Sex </div>
            <input class="form-control forminput" type="text" name="sexx"> </input><br><br>

            <button class="Button" type="submit" style="margin-top: 4vh; margin-left: 22%; width: 7vw;">
                Create Account
            </button>

            <br><br>

            <div class="Largetext" style="margin-left: 27%; width: 50%; max-width: 100%;"> Already have an account? </div><br>
                <a class="Button" href="{% url 'Login' %}" style="margin-left: 30%;"> Login </a> 
            <br><br><br><br>
        </div>
        <br><br>
    </form> 
    <br><br>    
    <style>
        div {
            font-weight: 100;
        }

        .forminput {
            margin-left: 22%;
        }

        #ferror, #lerror{
            font-size: small;
        }
    </style>
    <script src="{% static 'js/signup.js' %}"> </script>
    {% endblock %}
</body>
</html>