{% extends 'inventory/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/form.css'%}">
</head>
<body>
    {% block header %}
    <br>
    <div class="unfinished header">
        <a style="margin: auto;" href="{% url 'home' %}"> Product Site </a>
    </div>
    <br>
    {% endblock %}


    {% block content %}
    <br>
    <form method="POST" action="{% url 'Signup' %}">{% csrf_token %}
        <div class="formblock" style="width: 45vw;">
            <div class="Largetext" style="margin-left: 34%; width: 50%;"> Signup </div>
            <div class="label" style="margin-left: 35%;"> Username </div>
            <div class="forminput" style="margin-left: 35%;">
                <input class="form-control forminput" type="text" name="usern"> </input>
            </div>

            <div class="label" style="margin-left: 35%;"> Password </div>
            <div class="forminput" style="margin-left: 35%;">
                <input class="form-control forminput" type="text" name="passn" autocomplete="off"> </input>
            </div>

            <div class="label" style="margin-left: 35%;"> First Name </div>
            <div class="forminput" style="margin-left: 35%;">
                <input class="form-control forminput" type="text" name="firstn"> </input>
            </div>

            <div class="label" style="margin-left: 35%;"> Last Name </div>
            <div class="forminput" style="margin-left: 35%;">
                <input class="form-control forminput" type="text" name="lastn"> </input>
            </div>

            <div class="label" style="margin-left: 35%;"> Birthday </div>
            <div class="forminput" style="margin-left: 35%;">
                <input class="form-control forminput" type="date" name="birthday1"> </input>
            </div>

            <div class="label" style="margin-left: 35%;"> Sex </div>
            <div class="forminput" style="margin-left: 35%;">
                <input class="form-control forminput" type="text" name="sexx"> </input>
            </div>

            <button class="Button" type="submit" style="margin-left: 36%; margin-top: 4vh; width: 7vw;">
                Create Account
            </button>

            <br><br>

            <div class="Largetext" style="margin-left: 34%; width: 50%; max-width: 100%;"> Already have an account? </div><br>
                <a class="Button" href="{% url 'Login' %}" style="margin-left: 36%;"> Login </a> 
            <br><br><br><br>
        </div>
        <br><br>
    </form> 
    <br><br>
    {% for m in messages %}
    <div class="label">
        {{ m }}
    </div>
    {% endfor %}

    {% endblock %}
    <script>
        function LoginF(){
            location.href="{% url 'Login' %}";
        }
    </script>
</body>
</html>