{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <table style="font-style: normal; font-weight: normal;" class="Frame">
        <tr class="identify"> 
            <th> Order No. </th>
            <th> Order Info. </th>
            <th> Product Info. </th>
            <th> Edit Transaction </th>
        </tr>
    </table>


    
</head>
<body>
    
</body>
</html>