{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br>
        <div class="Largetext" style="margin: auto; margin-left: 24%; width:15vw;">
            Pending Orders
        </div> <br>

        <div class="container">
            {% if Order %}
                {% for a in OrdersAndProds %}
                    {% if a.1 == None %}
                        <br><br>
                        <div class="Largetext"> <b> Order {{a.0}} </b> </div>
                        <div class="bodytext" style="margin-left: 0.5vw;"> 
                            No products yet! <br><br>
                            {% for o in Order %}
                                {% if o.pk == a.0 %}
                            Verification Code: {{o.Verification}} <br><br>
                            Order Date: {{o.OrderDate}} <br><br>
                            Place and Date of Issue: {{ o.PlaceDate }} <br><br>
                            Consignee: {{o.BL.Name}} <br><br>
                            Consignee B/L Number: {{o.BL.BL}} <br><br>
                            Port of Discharge: {{o.BL.PortDischarge}}<br><br>
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                        
                    {% else %}
                    <br>

                    <div class="Largetext">
                        <b> Order {{ a.1.OrderID.pk }} </b> <Br>
                    </div>
                 
                    <span style="margin-left: 0.7vw;"> Verification Code: </span> <span style="margin-left: 0.5vw;"> {{ a.1.OrderID.Verification }} </span> <br><br>
                    <span style="margin-left: 0.7vw;"> Order Date: </span>  <span style="margin-left: 0.5vw;"> {{ a.1.OrderID.OrderDate }} </span> <br><br>
                    <span style="margin-left: 0.7vw;"> Place and Date of Issue: </span>  <span style="margin-left: 0.5vw;"> {{ a.1.OrderID.PlaceDate }} </span> <br><br> 
                    <span style="margin-left: 0.7vw;"> Consignee: {{a.1.OrderID.BL.Name}}</span> <br><br>
                    <span style="margin-left: 0.7vw;"> Consignee B/L Number: {{a.1.OrderID.BL.BL}}</span> <br><br>
                    <span style="margin-left: 0.7vw;"> Port of Discharge: {{a.1.OrderID.BL.PortDischarge}}</span> <br><br>
                  
                        {% for b in a %}
                            {% if b > 0  %}
                            
                            {% else %}
                            <div class="Largetext"> Product: {{b.Marks.Name}}</div>
                             <div class="bodytext" style="margin-left: 0.5vw;"> Ordered Product ID: {{ b.OrderedProductID }} </div><br>
                            <div class="bodytext" style="margin-left: 0.5vw;">
                                Quantity Ordered: {{b.quantity}} <br><br>
                                Cost of Ordered Product: ${{b.totalcost}} <br><br>
                                Item Description: {{b.Marks.Description}} <br><br>
                                Length: {{b.Marks.Length}} <br><br>
                                Manufacturer: {{b.Marks.Manufacturer}} <br><br>
                                Remarks: {{b.remarks}}
                            </div>
                            <br>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            {% else %}
                <div class="Largetext"> No pending orders! </div>

            {% endif %}
            <br>
        </div>
        <Br><br>
    {% endblock %}
</body>
</html>