{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <Br>
    <div class="container">
        <div class="bodytext">
            User Logged in: {{username}} <br>
            First name: {{firstname}} <Br>
            Last name: {{lastname}} <br>
            Birthday: {{birthday}} <br>
            Sex: {{sex}} <br><br>
            
            
                <a href="{% url 'logout' %}" class="LOGOUT" style="display: inline;"> Logout </a>
            
        </div>
    </div>

    <br><br>
        <div class="Largetext" style="margin: auto; margin-left: 23%; width: 5vw;">
            Pending Orders
        </div> <br>

        <div class="container">
            {% if Order %}
                {% for a in OrdersAndProds %}
                    {% if a.0 >= 1 %}
                        <div class="Largetext"> Order {{a.0}} has no ordered products! </div>
                        
                    {% else %}
                    <div class="Largetext">
                        Order {{ a.0.Finalorder.pk }} <Br>
                    </div>

                    <div class="Largetext inline"> Order ID: </div> {{ a.0.Finalorder.OrderID }} <br>
                    <div class="Largetext inline"> Order Date: </div> {{ a.0.Finalorder.OrderDate }} <br>
                    
                  
                        {% for b in a %}
                            <div class="Largetext"> Product: {{b.Order.Name}}</div>
                            <div class="bodytext">
                                {{b.Order.Image}} <Br>
                                Quantity Ordered: {{b.quantity}} <br>
                                Cost of Order: {{b.totalcost}} <br>
                                Item Description: {{b.Order.Description}} <Br>
                                Length: {{b.Order.Length}} <br>
                                Manufacturer: {{b.Order.Manufacturer}} <br>
                                Remarks: {{b.remarks}}
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            <a class="Button" href="{% url 'OrderAdded' %}"> Add New Order now </a> <a class="Button" style="margin-left: 10px" href="{% url 'UnfTrans' %}"> Edit a Transaction </a>
        </div>
    {% endblock %}
</body>
</html>