SalesApp/Inventory/__pycache__/
SalesApp/Inventory/migrations/__pycache__/
SalesApp/SalesApp/__pycache__/
SalesApp/node_modules
*.sqlite3
SalesApp/db.sqlite3
SalesApp/.DS_Store
Steel/lib
Steel/pyvenv.cfg
SalesApp/SalesApp/settings.py

