.Largetext{
  font-size: 25px;
  font-family: Verdana;
  margin-bottom: 1vh;
  padding: 15px;
}

.shape1{
  width: 0;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 6vw solid blueviolet;
  display: inline-block;
}

.shape2{
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background: rgb(20, 161, 44);
  border-radius: 50%
}

.shape3{
  width: 5vw;
  height: 5vw;
  max-width: 100%;
  display: inline;
  padding: 10px;
  border-radius: 9px;
  background-color: brown;
  border-color: transparent;
  box-shadow: 7px 7px rgb(218, 116, 79);
}

.bodytext{
  line-height: 2;
  padding: 5px;
  margin-left: 3vw;
}

html{
  background: rgb(143,193,203);
background: linear-gradient(90deg, rgba(143,193,203,1) 4%, rgba(202,204,208,1) 55%, rgba(174,174,203,1) 84%);
}

a{
  color: black;
  text-decoration: none;
}

.container{
  padding: 10px;
  font-family: Verdana;
  background-color: rgb(232, 200, 160);
  border: transparent;
  border-radius: 9px;
  box-shadow: 10px 10px rgb(180, 155, 125);
  width: 50vw;
  margin: auto;
  max-width: 100%;
}

.header{
  width: 80vw;
  max-width: 100%;
  border: transparent;
  box-shadow: 9px 9px rgb(18, 85, 124);
  background-color: cadetblue;
  border-radius: 9px;
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.header > a{
  font-family:Geneva;
  font-weight: 300;
  margin: auto;
  margin-left: 3vw;
  border-radius: 9px;
  padding: 5px;
  width: 10vw;
  text-align: center;
}

.header > a:hover{
  background-color: rgb(49, 215, 233);
  cursor: pointer;
}

.unfinished.header{
  text-align: center;
  margin: auto;
  width: 25%;
  max-width: 100%;
  border-color: transparent;
  padding: 20px;
  border-radius: 9px;
  font-family: Verdana;
}

.formblock{
  margin: auto;
  max-width: 100%;
  border: transparent;
  border-radius: 9px;
  width: 50%;
  box-shadow: 10px 10px rgb(189, 163, 130);
  background-color: rgb(210, 174, 127);
}

.label{
  padding: 10px;
  font-family: Verdana;
  font-size: 15px;
  margin: auto;
  max-width: 100%;
  width: 50%;
}

#desc{
  max-width: 100%;
}

.forminput{
  padding: 10px;
  max-width: 100%;
  width: 50%;
  margin: auto;
}

.actions{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  height:auto;
  border: transparent;
}

.actions > *{
  margin-left: 5px;
  flex: 0 0;
}

#id{
  display: inline-block;
}

#totalcost{
  display: inline-block;
  margin: auto;
  width: 50%;
  margin-left: 23%;
}


.Button{
  text-decoration: none;
  background-color: rgb(48, 162, 88);
  padding: 10px;
  width: 5vw;
  text-align: center;
  border-radius: 9px;
  position: relative;
}

.Button > *{
  color: black;
}

.Button:hover{
  cursor:pointer;
  background-color: rgb(56, 209, 110);
  transform: translateY(5px);
}


.Submit{
  font-family: Verdana;
  font-size: 15px;
  background-color: rgb(213, 193, 101);
  padding: 10px;
  width: 10vw;
  max-width: 100%;
  margin: auto;
  margin-left: 25%;
  border-radius: 9px;
}

.Submit:hover{
  cursor: pointer;
  background-color: rgb(84, 122, 122);
}

.LOGOUT{
  background-color: azure;
  border-radius: 9px;
  box-shadow: 8px 8px rgb(97, 94, 89);
  text-decoration: none;
  color: black;
  width: 25%;
  text-align: center;
  padding: 10px;
}

.LOGOUT:hover{
  background-color: aquamarine;
  cursor: pointer;
  transform: translateY(5px);
}

.Frame{
  margin: auto;
  border: solid;
  margin-top: 5vh;
  background-color: rgb(251, 251, 244);
}

.Frame >*{
  font-weight: 100;
}

.Header > *:not(.actions){
  margin: auto;
  border: solid;
  padding: 9px;
  max-width: 100%;
  width: 13vw;
  font-weight: normal;
}

.actions > * {
  background-color: rgb(74, 120, 198);
}

.actions > *:hover{ 
  background-color: rgb(128, 180, 249);
}

.image{
  max-width: 20vw;
  max-height: 20vh;
  margin: auto;
}


#view {
  width: 0.5vw;
  padding: 10px;
}

#order{
  width: 3vw;
  float: none;
}

#edit{
  width: 5vw;
}

#browse{
  left: 10px;
}
